<a href="https://colab.research.google.com/github/nidhi-o20/Regex-Software-Big-Data-internship/blob/main/RegexSoftware_Task1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **#TASK 1**
# **Registration ID: SIRSS2256**
# **Name: Nidhi Thakkar**

##**Q1**



```
5 5 5 5 5
5 5 5 5
5 5 5
5 5
5
```

In [ ]:
n=int(input())
for i in range(n,0,-1):
  for j in range(0,i):
    print("5", end=" ")
  print()

5
5 5 5 5 5
5 5 5 5
5 5 5
5 5
5

##**Q2**



```
0 1 2 3 4 5
0 1 2 3 4
0 1 2 3
0 1 2
0 1
```

In [ ]:
n=int(input())
for i in range(n+1,0,-1):
  for j in range(0,i):
    print(j, end=" ")
  if(i==n-3):
      break
  print()

5
0 1 2 3 4 5
0 1 2 3 4
0 1 2 3
0 1 2
0 1

##**Q3**



```
1
3 3
5 5 5
7 7 7 7
9 9 9 9 9

```

In [ ]:
n=int(input())
for i in range(0,n+1):
  for j in range(0,i):
    print(2*i-1, end=" ")
  print()

5

1
3 3
5 5 5
7 7 7 7
9 9 9 9 9

##**Q4**



```
1
2 1
3 2 1
4 3 2 1
5 4 3 2 1
```

In [ ]:
n=int(input())
for i in range(0,n+1):
  for j in range(i,0,-1):
    print(j, end=" ")
  print()

5

1
2 1
3 2 1
4 3 2 1
5 4 3 2 1

##**Q5**



```
1
3 2
6 5 4
10 9 8 7
```

In [ ]:
start = 1
stop = 2
current_num = stop
for row in range(2, 6):
    for col in range(start, stop):
        current_num -= 1
        print(current_num, end=' ')
    print("")
    start = stop
    stop += row
    current_num = stop

1
3 2
6 5 4
10 9 8 7

##**Q6**



```
1
1 1
1 2 1
1 3 3 1
1 4 6 4 1
1 5 10 10 5 1
1 6 15 20 15 6 1
```

In [ ]:
def pascal(row,col):
  if (col==1 or(row==col)):
    return 1
  upLeft_element=pascal(row-1,col-1)
  up_element=pascal(row-1,col)
  return upLeft_element+up_element

n=int(input())
count=1
for i in range(0,n+1):
  for j in range(1,i+1):
    print(pascal(i,j), end=" ")
  print()

7

1
1 1
1 2 1
1 3 3 1
1 4 6 4 1
1 5 10 10 5 1
1 6 15 20 15 6 1

##**Q7**



```
1 2 3 4 5
2 2 3 4 5
3 3 3 4 5
4 4 4 4 5
5 5 5 5 5
```

In [ ]:
n=int(input())
for i in range(1,n+1):
    for j in range(1,n+1):
        if j <= i:
            print(i, end=' ')
        else:
            print(j, end=' ')
    print()

5
1 2 3 4 5
2 2 3 4 5
3 3 3 4 5
4 4 4 4 5
5 5 5 5 5

##**Q8**



```
1
2 4
3 6 9
4 8 12 16
5 10 15 20 25
6 12 18 24 30 36
7 14 21 28 35 42 49
8 16 24 32 40 48 56 64
```

In [ ]:
n=int(input())
for i in range(1, n + 1):
    for j in range(1, i + 1):
        print(i * j, end='  ')
    print()

5
1
2  4
3  6  9
4  8  12  16
5  10  15  20  25

##**Q9**



```
* * * * * *
 * * * * *
  * * * *
   * * *
    * *
     *
```

In [ ]:
n=int(input())
space = 2 * n - 2
for i in reversed(range(0, n)):
    for j in (range(0, space)):
        print(end=" ")
    space += 1
    for j in (range(0, i + 1)):
        print("* ", end=' ')
    print(" ")

5
        *  *  *  *  *
         *  *  *  *
          *  *  *
           *  *
            *

##**Q10**



```
        *   
       *  *   
      *  *  *   
     *  *  *  *   
    *  *  *  *  *   
```

In [ ]:
n=int(input())
space = 2 * n - 2
for i in range(0, n):
    for j in range(0, space):
        print(end=" ")
    space -= 1
    for j in range(0, i + 1):
        print("* ", end=' ')
    print(" ")

5
        *
       *  *
      *  *  *
     *  *  *  *
    *  *  *  *  *

##**Q11**



```
*
* *
* * *
* * * *
* * * * *
* * * * * *

* * * * * *
* * * * *
* * * *
* * *
* *
*
```

In [ ]:
n=int(input())
for i in range(0,n+1):
  for j in range(0,i):
    print("*", end=" ")
  print()
print()
for i in range(n,0,-1):
  for j in range(0,i):
    print("*", end=" ")
  print()

6

*
* *
* * *
* * * *
* * * * *
* * * * * *

* * * * * *
* * * * *
* * * *
* * *
* *
*

##**Q12**



```
*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*
```

In [ ]:
n=int(input())
for i in range(0,n):
  for j in range(0,i+1):
    print("*", end=" ")
  print()
for i in range(n+1,0,-1):
  for j in range(0,i):
    print("*", end=" ")
  print()

6
*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

##**Q13**



```
        *
      * *
    * * *
  * * * *
* * * * *
  * * * *
    * * *
      * *
        *
```

In [ ]:
n = int(input())
i = 1
while i <= n:
    j = i
    while j < n:
        # display space
        print(' ', end=' ')
        j += 1
    k = 1
    while k <= i:
        print('*', end=' ')
        k += 1
    print()
    i += 1

i = n
while i >= 1:
    j = i
    while j <= n:
        print(' ', end=' ')
        j += 1
    k = 1
    while k < i:
        print('*', end=' ')
        k += 1
    print('')
    i -= 1

6
          *
        * *
      * * *
    * * * *
  * * * * *
* * * * * *
  * * * * *
    * * * *
      * * *
        * *
          *

##**Q14**



```
* * * * *
 * * * *
  * * *
   * *
    *
    *
   * *
  * * *
 * * * *
* * * * *
```

In [ ]:
n=int(input())
i = 0
while i <= n - 1:
    j = 0
    while j < i:
        # display space
        print('', end=' ')
        j += 1
    k = i
    while k <= n - 1:
        print('*', end=' ')
        k += 1
    print()
    i += 1

i = n - 1
while i >= 0:
    j = 0
    while j < i:
        print('', end=' ')
        j += 1
    k = i
    while k <= n - 1:
        print('*', end=' ')
        k += 1
    print('')
    i -= 1

5
* * * * *
 * * * *
  * * *
   * *
    *
    *
   * *
  * * *
 * * * *
* * * * *

##**Q15**



```
****************
*******__*******
******____******
*****______*****
****________****
***__________***
**____________**
*______________*
```

In [ ]:
n=int(input())
print("*" * n, end="\n")
i = (n // 2) - 1
j = 2
while i != 0:
    while j <= (n - 2):
        print("*" * i, end="")
        print("_" * j, end="")
        print("*" * i, end="\n")
        i = i - 1
        j = j + 2

15
***************
******__******
*****____*****
****______****
***________***
**__________**
*____________*